html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282d35;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21222a;
  padding: 0.4rem 2rem;
}

.navbar > img {
  height: 50px;
  object-fit: contain;
}

.navbar > h2 {
  color: #61dafb;
  margin-right: auto;
  margin-left: 0.3rem;
}

.navbar > h3 {
  color: #deebf8;
  font-weight: 600;
}

/* Main */
.main {
  color: #ffffff;
  margin-left: 2rem;
}

.main > h1 {
  margin-top: 5rem;
  font-size: 4vh;
}

.main > ul {
  font-size: 1.5vh;
  font-weight: 400;
  max-width: 350px;
  /* list-style-type: "\1F44D"; */
}
.main > ul > li {
  margin: 2rem 0;
  /* background-size: 3rem; */
  /* background-color: #61dafb; */
  /* margin-left: 2rem; */
}

.main > ul > li > span {
  margin-left: 1.5rem;
}

.main > ul > li::marker {
  content: "\25CF";
  font-size: 150%;
  color: #61dafb;
  vertical-align: bottom;
}
/* li:before {
  content: "";
  margin-left: 1rem;
} */

/* App */
.App > img {
  /* background-image: url("./images/react-icon.png"); */
  height: 200px;
  object-fit: cover;
}
